<link href='~/css/estilo.css' rel='stylesheet' type='text/css'>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escoge tu rol</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <form action="index.html" method="post">

        <h1>Escoge tu rol</h1>
        <fieldset>
            <label for="Rol">Rol:</label>
            <select id="Escoger" name="Escoger">
                <optgroup label="Escoge una opción">
                    <option value="Vendedor">Vendedor</option>
                    <option value="Comprador">Comprador</option>
                    <option value="Observador">Observador</option>
                </optgroup>
            </select>

        </fieldset>
        <button type="submit">¡Participa!</button>
    </form>

</body>
</html>